# Backups
*~
\#*
.\#*

# OS-specific
.directory

# Python and packaging
*.pyc
*.pyo
*.egg-info/
build/
dist/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Documentation
docs/_*
!docs/_templates
docs/.ipynb_checkpoints
docs/src_examples/*/*.png
docs/src_examples/advanced_and_models/chains/

# Tests
.pytest_cache/
tests/.ipynb_checkpoints
.coverage*
.tox/
.nox/
.cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# IDE-specific
.idea/
*.swp
*.swo

# Linting and formatting
.ruff_cache/
.mypy_cache/

# IPython
.ipynb_checkpoints/
profile_default/
ipython_config.py

# Jupyter Notebook
.ipynb_checkpoints

# pytest
.cache/
